/*variable
{
    dark blue:#434780;
    green:#008037;
    blue:#004AAD;
}
*/

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;

}

.about-container, .projects-container, .skills-container{
    text-align: center;
    padding: 2em;
}

/* nav*/


nav{
    display: flexbox;
    align-items: center;
    background-color: #434780;
    margin:auto;
    padding: 2em 0 2em 0;
    overflow: hidden;
    position: relative;
}

.tabs-nav{
    display: none;
    margin-right: 3em;
    float: left;
}

.tabs-nav a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    padding: 10px;
    border-color: aliceblue;
    padding: 14px 16px;
}

.tabs-nav a:hover{
    background-color:#004AAD;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.logo-nav img{
    width: 10%;
    height:10%;
    image-rendering: crisp-edges;
    top:1em;
    right:1em;
}

.logo-nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
}


/*hamburger*/


.hamburger {
    cursor: pointer;
    margin: 5% 5% 0 0;
    position: absolute;
    top:1em;
    right:1em;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:aliceblue;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* landing */


.landing-text{
    font-size: 20px;
    max-width: 30em;
    color: aliceblue;
    padding: 1em;
}

.landing-container{
    background: linear-gradient(215deg, #004AAD 20%, #434780 60%);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    padding: 2em 0 1em 0;
}

.landing-image img{
    height: 70%;
    width: 100%;
}

.landing-text button{
    margin: 1em 0 1em 0;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    border-color: aliceblue;
}
.landing-text button:hover{
    background-color:#004AAD;
    transform: translateY(-4px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* about */


.about-card{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.about-image img{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.about-text{
    padding-top: 1em;
    color: black;
    font-size: 18px;
}



/* Projects */

#projectlayout{
    height: 20em;
    width: 60%;
    background-color:red;
    border-radius: 5em;
}


/* footer */


footer{
    text-align: center;
    background-color: #434780;
    padding: 3em 1em 3em 1em;
    color:aliceblue;
}


/* Scroll bar*/


::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background:#004AAD;
}

/*
@media {
   .tabs-nav a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 20%;
    border-color: aliceblue;
} 
}
*/